<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Company</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Clocks/List">Всі годинники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Clocks/List/classic">Класичні годинники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Clocks/List/sport">Спортивні годинники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Clocks/List/smart">Смарт годинники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled active" href="/ShopCart/">Корзина</a>
                    </li>
                </ul>                
            </div>
        </nav>
    </header>


    <div>
        @RenderBody()
    </div>
    <footer class="container text-left">
        <p>© 2023 Всі права захищені · <a href="#">Конфіденційно</a></p>
    </footer>



    <script src ="~/js/bootstrap.min.js"></script>
</body>
</html>
